<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2" ng-controller="ctrollerEphemeris">
    <form class="form-horizontal well">
        <fieldset>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <!-- this is only for the user to enter the likely search phrase and when this changes we would get the suggestions out -->
                        <input ng-model="cityLike" type="text" class="form-control" placeholder="Search for city">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <!-- Search suggestions.. -->
                    <!-- this is diaplayed with a z index only when the search suggestions are being entered and the the number of suggestions is not zero -->
                    <ul class="list-group flyout-list"
                        ng-show="cityLike!=='' && cities.length!=0">
                        <!-- this is each of the search suggestion  -->
                        <li class="list-group-item" ng-repeat="s in cities" ng-click="selectCity(s)">
                            <h6>
                                {{s.city}}
                                <span class="pull-right">
                                    {{s.state}}
                                </span>
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <select class="form-control" id="select" ng-model="year">
                        <option ng-repeat="y in range.years" value="y">{{y}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <select class="form-control" id="select" ng-model="month">
                        <option ng-repeat="m in months" value="m.pos">{{m.id}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <select class="form-control" id="select" ng-model="zenith">
                        <option ng-repeat="z in range.zeniths" value="z.value">{{z.id}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th><h4>Date</h4></th>
                <th><h4>Julian</h4></th>
                <th><h4>Sunrise</h4></th>
                <th><h4>Sunset</h4></th>
                <th><h4>Declination</h4></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>