<div>
    <div class="row">
        <div class="container-fluid">
            <div class="well col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="form-group col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 ">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-map-marker"></span> Place</h4>
                    </label>
                    <select class="form-control" id="select" ng-model="selection.city">
                        <option ng-repeat="c in model.choices.city" value="{{c.title}}">{{c.title}}</option>
                    </select>
                </div>

                <h5 class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 text-center">OR</h5>

                <div class="form-group col-md-4 col-lg-offset-2 col-md-offset-2">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-globe"></span> Latitude</h4>
                    </label>
                    <div class="input-group">
                        <input type="number" value="" class="form-control">
                        <span class="input-group-addon">N</span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-globe"></span> Longitude</h4>
                    </label>
                    <div class="input-group">
                        <input type="number" value="" class="form-control">
                        <span class="input-group-addon">E</span>
                    </div>
                </div>
            </div>

            <!-- Year and Month-->

            <div class="form-group col-md-4 col-lg-offset-2 col-md-offset-2">
                <label for="select" class="pull-left control-label">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Year</h4>
                </label>
                <select class="form-control" id="select" ng-model="selection.year">
                    <option ng-repeat="y in model.choices.year" value="{{y}}">{{y}}</option>
                </select>
                <br>
            </div>

            <div class="form-group col-md-4">
                <label for="select" class="pull-left control-label">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Month</h4>
                </label>
                <select class="form-control" id="select" ng-model="selection.month">
                    <option ng-repeat="m in model.choices.month" value="{{m}}">{{m}}</option>
                </select>
                <br>
                <br>
            </div>

            <!--Table Data-->
            <div class="col-lg-offset-2 col-md-offset-2 col-md-8">
                <table class="table table-responsive table-hover panel panel-primary">
                    <thead class="panel-heading">
                        <tr>
                            <th>
                                <h4>Date</h4>
                            </th>
                            <th>
                                <h4>Julian</h4>
                            </th>
                            <th>
                                <h4>Sunrise</h4>
                            </th>
                            <th>
                                <h4>Sunset</h4>
                            </th>
                            <th>
                                <h4>Declination</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr ng-repeat="d in solardetails">
                            <td>{{d.gregorianday|date:'dd-MMMM'}}</td>
                            <td>{{d.julianday}}</td>
                            <td>{{d.sunrise|date:'HH:mm'}}</td>
                            <td>{{d.sunset|date:'HH:mm'}}</td>
                            <td>{{d.declination|angle:'deg min'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>S
        </div>
    </div>
</div>