<div>
    <div class="row">
        <div class="container-fluid">
            <div class="well col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="form-group col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 ">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-map-marker"></span> Place</h4>
                    </label>
                    <select class="form-control" id="select" ng-model="model.city">
                        <option ng-repeat="c in model.citychoices" value="{{c.title}}">{{c.title}}</option>
                    </select>
                </div>

                <h5 class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 text-center">OR</h5>

                <div class="form-group col-md-4 col-lg-offset-2 col-md-offset-2">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-globe"></span> Latitude</h4>
                    </label>
                    <div class="input-group">
                        <input type="number" value="" class="form-control">
                        <span class="input-group-addon">N</span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="select" class="control-label">
                        <h4><span class="glyphicon glyphicon-globe"></span> Longitude</h4>
                    </label>
                    <div class="input-group">
                        <input type="number" value="" class="form-control">
                        <span class="input-group-addon">E</span>
                    </div>
                </div>
            </div>

            <!-- Year and Month-->

            <div class="form-group col-md-4 col-lg-offset-2 col-md-offset-2">
                <label for="select" class="pull-left control-label">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Year</h4>
                </label>
                <select class="form-control" id="select">
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                </select>
                <br>
            </div>

            <div class="form-group col-md-4">
                <label for="select" class="pull-left control-label">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Month</h4>
                </label>
                <select class="form-control" id="select">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                </select>
                <br>
                <br>
            </div>

            <!--Table Data-->
            <div class="col-lg-offset-2 col-md-offset-2 col-md-8">
                <table class="table table-responsive table-hover panel panel-primary">
                    <thead class="panel-heading">
                        <tr>
                            <th>
                                <h4>Date</h4>
                            </th>
                            <th>
                                <h4>Sunrise</h4>
                            </th>
                            <th>
                                <h4>Sunset</h4>
                            </th>
                            <th>
                                <h4>Other</h4>
                            </th>
                            <th>
                                <h4>More</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr>
                            <td>1</td>
                            <td>6:23 AM</td>
                            <td>7:30 PM</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>6:01 AM</td>
                            <td>7:09 PM</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:01 AM</td>
                            <td>7:09 PM</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>