body {
}
.picker {
   width:100%;
   margin-top:0.5em;
}
.picker-input {
     z-index:0;
}
.picker-menu {
    position:absolute;
    z-index:1;
    width:90%
}
.picker-menu-header {
    border-bottom:solid 1px #798d8f;
    padding-bottom:0.5em
}
.picker-menu-body {
    margin-top:1em
}
.picker-menu-header span {
    cursor:pointer;
}